<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - NewsBoard</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="http://code.jquery.com/ui/1.11.0/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    </head>
    <body>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "News", new {category = ""})">
                        <img height="40" width="55" style="margin-bottom: -7px; margin-top: -7px; max-width: 100px;"
                             src="@Url.Content("~/Content/img/newsboardlogo.png")">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                    <form class="navbar-form navbar-right" action="@Url.Action("Index", "Search")" role="search">
                        <div class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            @*<footer>
            <p class="text-center">&copy; @DateTime.Now.Year - NewsBoard</p>
        </footer>*@
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", false)
    </body>
</html>